<%- include('partials/header') -%>

<div class="container">
  <header class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>view our campgrounds</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">
          Add New Campground
        </a>
      </p>
    </div>
  </header>

  <div class="row d-flex text-center">
    <div class="col-lg-12">
      <h3>Our most popular camps</h3>
    </div>

    <% campgrounds.forEach((campground)=> { %>
    <div class="col-md-3 col-sm-6">
      <div class="img-thumbnail">
        <img class="img-thumbnail" src="<%= campground.image%>" />
        <div class="caption">
          <h4><%= campground.name %></h4>
        </div>
      </div>
    </div>

    <% });%>
  </div>
</div>
<%- include('partials/footer') -%>
